/*
* Skeleton V1.2
* Copyright 2011, Dave Gamache
* www.getskeleton.com
* Free to use under the MIT license.
* http://www.opensource.org/licenses/mit-license.php
* 6/20/2012
*/

/* Table of Content
==================================================
	#Site Styles
	#Page Styles
	#Media Queries
	#Font-Face */

/* #Site Styles
================================================== */

	body{
		background:#FFF;
		color:#202020;
		font-family: 'robotoregular';
		font-size:14px;
		line-height:20px;
	}
	h1,h2,h3,h4,h5{
		 font-family: 'robotoregular';
	}
	h1{
		font-size:40px;
		color:#202020;
		line-height:52px;
		font-family: 'robotoregular';
		margin-bottom:30px;
	}
	h2{
		font-size:30px;
		color:#202020;
		line-height:40px;
		font-family: 'robotoregular';
		margin-bottom:30px;
	}
	h3{
		margin-bottom: 25px;
		font-family: 'robotoregular';
	}
	h4{font-size:18px;}
	h3.highlight{
		color:#de2121;
	}
	p{
		line-height:20px;
		font-size: 14px;
		color:#202020;
	}
	a{
		text-decoration:none;
	}
	img{margin-bottom:20px;}
	a, a:visited{
		color:#8c8e90;
	}
	*, *:before, *:after{
		box-sizing: border-box; /* Opera/IE 8+ */
        -webkit-box-sizing: border-box; /* Safari, Chrome et al  */
		-moz-box-sizing: border-box; /* Firefox */
	}
	strong{
		font-family: 'robotobold';
		font-weight:normal;
	}
	ul,ol{
		margin-left:15px;
	}
	.headerWrapper{
		background:#143c63;
		
	}
	.headerWrapper .logoWrapper{
		padding-top:15px;
	}
	.main-nav ul{
		float:right;
		margin-bottom:0px;
		margin-left:0px;
	}
	.main-nav ul li{
		float:left;
		list-style:none;
		margin-bottom:0px;
	}
	.main-nav ul li a{
		display:block;
		color:#FFF;
		font-family: 'robotoregular';
		font-size:13px;
		text-transform:uppercase;
		padding-left:25px;
		padding-right:25px;
		padding-top:103px;
		padding-bottom: 22px;
		border-bottom:3px solid transparent;
		
	}
	.main-nav ul li a:hover,.main-nav ul li.current-menu-item a{
		background:#123557 url('../images/arrowup.png') no-repeat center bottom;
		border-color:#ef9506;
	}
	.bannerWrapper{
		
		background:transparent url('../images/bannerbg.jpg') no-repeat center top;
		background-position:fixed;
	}
	.bannerHeadings{
		padding-top:30px;
		position:relative;
		z-index:1;
	}
	.bannerHeadings h4{
		font-size:25px;
		margin-bottom:5px;
	}
	.bannerHeadings h1{
		font-size:80px;
		color:#127bb8;
		font-family: 'bebas_neueregular';
		margin-bottom:0px;
		line-height:72px;
	}
	.bannerHeadings h2{
		font-size:42px;
		font-family: 'robotobold';
	}
	.bannerHeadings h2 span{
		font-family: 'robotoregular';
	}
	.bannerHeadings p{
		font-size:16px;
		line-height:23px;
	}
	.bannerContent{
		position:relative;
		min-height:467px;
	}
	.mascotWrapper{
		position:absolute;
		right:0px;
		bottom:0px;
		z-index:0;
	}
	.mascotWrapper img{
		margin-bottom:0px;
		display:block;
	}
	.formWrapper{
		margin-top: 40px;
		margin-bottom: 25px;
	}
	.formWrapper ul li{
		list-style:none;
		margin-bottom:0px;
	}
	.formWrapper label{
		display:none;
	}
	.formWrapper ul li input[type="text"]{
		width:458px;
		height:48px;
		border:0px;
		background:#FFF;
		border-radius:0px;
		font-size:18px;
		margin-bottom:1px;
		padding:10px;
	}
	#gform_fields_1{margin-bottom:0px;}
	#gform_submit_button_1{
		border:0px;
		font-size:25px;
		font-family:'open_sansregular';
		color:#FFF;
		text-align:center;
		width:458px;
		border-radius:0px;
		background:#ff9c00;
		text-shadow:none;
		cursor:pointer;
		font-weight:normal;
	}
	#gform_submit_button_1:hover{
		background:#feb33e;
	}
	.fullwidth{
		width:100%;
		padding:40px 0px;
	}
	.bluebg{
		background:#143c63;
		color:#FFF;
	}
	.withIcons  h2{
		font-family: 'robotobold';
		font-size:23px;
		text-transform:uppercase;
		text-align:center;
		margin-bottom:0px;
		line-height:22px;
	}
	.withIcons {
		text-align:center;
	}
	.withIcons a{
		
	}
	
	.withIcons span{
		display:block;
		height:148px;
		width:148px;
		margin:0 auto 20px;
	}
	.withIcons a h2{ 
		color:#FFF;
	}
	.withIcons a.icon1 span{
		background:transparent url('../images/icon1.png') no-repeat center center;
	}
	.withIcons a.icon1:hover span{
		background:transparent url('../images/icon1-on.png') no-repeat center center;
	}
	.withIcons a.icon2 span{
		background:transparent url('../images/icon2.png') no-repeat center center;
	}
	.withIcons a.icon2:hover span{
		background:transparent url('../images/icon2-on.png') no-repeat center center;
	}
	.withIcons a.icon3 span{
		background:transparent url('../images/icon3.png') no-repeat center center;
	}
	.withIcons a.icon3:hover span{
		background:transparent url('../images/icon3-on.png') no-repeat center center;
	}
	.withIcons a.icon4 span{
		background:transparent url('../images/icon4.png') no-repeat center center;
	}
	.withIcons a.icon4:hover span{
		background:transparent url('../images/icon4-on.png') no-repeat center center;
	}
	.withIcons a:hover h2{ 
		color:#ff9c00;
	}
	.withIcons a p{
		color:#c5c5c5;
		margin-bottom:0px;
	}
	footer.topfooter{
		background:transparent url('../images/footerbg.jpg');
		color:#c4c4c4;
		padding:30px 0px;
	}
	footer.topfooter p,footer.topfooter a,footer.topfooter strong{
		color:#c4c4c4;
		font-size:14px;
	}
	footer.topfooter h3{
		color:#c4c4c4;
		font-size:25px;
		font-family:'bebas_neueregular';
		margin-bottom:15px;
	}
	.footerlogo{padding-top:10px;}
	.newslistForm input{margin-bottom:10px;}
	.newslistForm input[type="submit"]{
		border:0px;
		border-radius:0px;
		color:#FFF;
		background:#ff9c00;
		font-size:13px;
		text-align:center;
		padding:8px 20px;
		cursor:pointer;
	}
	.copyarea{
		border-top:1px solid #696963;
		padding-top:20px;
	}
	.copyText{
		font-family:'bebas_neueregular';
		font-size:17px;
	}
	.menu-footer-menu-container ul{
		list-style:none;
		float:right;
		margin-bottom:0px;
	}
	.menu-footer-menu-container ul li{
		display:inline-block;
		margin-left:30px;
		margin-bottom:0px;
	}
	.menu-footer-menu-container ul li a{
		font-family:'bebas_neueregular';
		font-size:17px;
	}
	.menu-footer-menu-container ul li a:hover{
		color:#ff9c00;
	}
	.widget-easy-twitter-feed-widget-container .row{margin-bottom:0px;}
	.widget-easy-twitter-feed-widget-container h3.widgetTitle{margin-bottom:5px;}
	h1.post_title.withbottomBorder{
		border-bottom:1px solid #eaeaea;
		margin-bottom:15px;
	}
	.defaultTemplate h1.post_title{
		padding-bottom:5px;
	}
	.defaultTemplate .content-wrapper{
		padding-top:30px;
	}

	.article_media img {
		max-width: 100%;
		height: auto;
		display:block;
	}
	.blog-date-sp, .blog-com-sp { padding:6px; padding-bottom:20px; width:90px; float:right; border-top-left-radius:6px; color:#fff; background:#636e75  url(../images/blg-date-botpic1.png) no-repeat bottom right; }
	.blog-date-sp h3 {
		width: 30px;
		float: left;
		margin: 1px 5px;
		color: #FFF;
		font-weight: 400;
	}
	.blog-date-sp span {
		float: right;
		margin: 4px;
		color: #A2AAB0;
		font-size: 12px;
		line-height: 1.2;
	}
	.blog-com-sp { background:none;  color:#95a2aa; padding:0 6px 8px; margin-top:-12px; text-align:center; font-size:12px; height:16px; border-radius:0px; border-bottom-left-radius:11px; }
	.blog-com-sp a { color:#95a2aa; }
	.date-sp-wrap {
		max-width: 100px;
	}
	.date-sp-wrap, #latest-fr-blg .date-sp-wrap {
		margin: 0px;
		float: right;
	}
	.date-sp-wrap{
		margin-top:10px;
	}
	h2.blogitemtitle{
		margin-bottom:0px;
	}
	.blogHeader {
		margin-bottom:10px;
	}
	.button{
		padding:15px 50px;
		font-size:14px;
		text-align:center;
		display:inline-block;
		margin-bottom:20px;
		border-radius:0px;
	}
	.bluebutton,.bluebutton:visited,.form-submit .submit{
		background:#127bb8;
		color:#FFF;
		border:0px;
		text-shadow:none;
		text-transform:uppercase;
		
	}
	.form-submit .submit{
		padding:15px 50px;
		font-size:14px;
		text-align:center;
		display:inline-block;
		margin-bottom:20px;
		border-radius:0px;
		cursor:pointer;
	}
	.bluebutton:hover,.form-submit .submit:hover{
		background:#1a8acc;
		color:#FFF;
	}
	.blogPost{
		padding-bottom:10px;
		border-bottom:1px solid #e3e3e3;
		margin-bottom:20px;
	}
	.sidewidgetsWrapper{
		padding-top:10px;
	}
	.sidewidgetsWrapper #searchform label{display:none;}
	.sidewidgetsWrapper #searchsubmit{display:none;}
	.sidewidgetsWrapper #searchform input[type="text"]{
		font-size:13px;
		color:#979797;
		padding:12px 15px;
		width:100%;
		border:0px;
		border-radius:0px;
		background:#efefef url('../images/zoom.png') no-repeat right center;
	}
	#gform_wrapper_1 ul,.menu-footer-menu-container ul{
		margin-left:0px;
	}
	.custompagination ul{
		list-style:none;
		text-align:center;
	}
	.custompagination ul li{
		display:inline-block;
		
	}
	.custompagination ul li a{
		display:block;
		text-align:center;
		font-size:14px;
		color:#143c63;
		height:36px;
		border:1px solid #d1d7dc;
		padding:9px 14px;
	}
	.custompagination ul li a:hover,.custompagination ul li.active a{
		background:#f5f5f5;
		color:#999999;
	}
	.sidewidgetsWrapper ul{
		margin-left:0px;
	}
	.sidewidgetsWrapper ul li{
		list-style:none;
	}
	.sidewidgetsWrapper ul li {
		background:transparent url('../images/link-icon.png') no-repeat left 6px;
		padding-left:20px;
		border-bottom:1px solid #eeeeee;
		padding-bottom:10px;
		margin-bottom:10px;
	}
	h3.sidewidgetTitle{font-size:20px;margin-bottom:15px;}
	.tagcloud a{
		font-size:13px!important;
		margin-bottom:2px;
		display:inline-block;
		padding:5px 10px;
		color:#202020;
		background:#e3e3e3;
	}
	.bottomformWrapper h1{
		color:#FFF;
		font-size:28px;
		line-height:30px;
		border-top:1px solid #14508a;
		border-bottom:1px solid #14508a;
		padding:6px 20px;
		display:inline-block;
		margin:0 auto;
		
	}
	.bottomformWrapper h1 span{
		font-size:17px;
		display:block;
	}
	
	.bottomformWrapper h1
	{
	position: relative;
	background: transparent;
	-webkit-border-radius: 0px;
	-moz-border-radius: 0px;
	border-radius: 0px;
	margin-bottom:30px;
	}

	.bottomformWrapper h1:after
	{
	content: '';
	position: absolute;
	border-style: solid;
	border-width: 15px 15px 0;
	border-color: #14508a transparent;
	display: block;
	width: 0;
	z-index: 1;
	margin-left: -15px;
	bottom: -15px;
	left: 50%;
	}
	.bottomformWrapper label{
		display:none;
	}
	.bottomformWrapper ul{
		margin-left:0px;
		list-style:none;
	}
	.bottomformWrapper .gform_body{
		width: 700px;
		float:left;
	}
	.bottomformWrapper .gform_body input{
		display:inline-block;
		float:left;
		width:340px;
		margin-left:2px;
	}
	.bottomformWrapper ul li{margin-bottom:0px;}
	.bottomformWrapper ul li input[type="text"] {
    width: 340px;
    height: 48px;
    border: 0px none;
    background: #FFF none repeat scroll 0% 0%;
    border-radius: 0px;
    font-size: 18px;
    margin-bottom: 1px;
    padding: 10px;
}
	#input_1_1{margin-left:0px;}
	.bottomformWrapper .gform_footer{
		float:left;
		width:240px;
	}
	.bottomformWrapper .gform_footer #gform_submit_button_1{
		width:100%;
		padding:6px 10px 7px;
		text-align:center;
		margin-bottom:0px;
	}
	.commentsWrapper textarea{
		width:100%;
	}
	.comment-author img{margin-bottom:0px;}
	.comment-reply-title a{font-size:13px;}
	.mobilemenu  .menu-main-menu-container{
		display:none;
	}
	#mmenu img {cursor:pointer;}
	.mobilemenu{clear:both;background:#0a2b4c;}
	.mobilemenu  #mmenu{
		padding:10px 10px 10px 0px;
		position:relative;
	}
	#mobilemenubutton {margin-bottom:0px;margin-left:10px;}
	.mobilemenu .menu-main-menu-container{
		position:absolute;
		z-index:999;
		left:0px;
		top: 50px;
		background:#5b5b5b;
		width: 100%;
		
	}
	.mobilemenu .menu-main-menu-container ul{
		margin-left:0px;
		list-style:none;
		margin-bottom:0px;
	}
	.mobilemenu .menu-main-menu-container ul li a{
		color:#FFF;
		display:block;
		padding:10px 30px;
	}
	.mobilemenu .menu-main-menu-container ul li{
		margin-bottom:0px;
	}
	.mobilemenu .menu-main-menu-container ul li a:hover{
		color:#FFF;
		background:#FEB33E ;
	}

/* #Page Styles
================================================== */

/*modified layout styles*/
	

/* #Media Queries
================================================== */



	/* Smaller than standard 960 (devices and browsers) */
	@media only screen and (min-width:1024px) and (max-width:1080px){
		
	}
	@media only screen and (min-width:960px) and (max-width:1023px){
		
	}

	@media only screen and (max-width: 959px) {
		
	}

	/* Tablet Portrait size to standard 960 (devices and browsers) */
	@media only screen and (min-width: 768px) and (max-width: 959px) {
		.bottomformWrapper .gform_body{
			width:508px;
		}
		.bottomformWrapper ul li input[type="text"]{
			width:252px;
		}
		.footerlogo img{
			width:100%;
		}
		
		.container .nine.columns.blogitemHeading{
			width:397px;
		}
	}

	/* All Mobile Sizes (devices and browser) */
	@media only screen and (max-width: 767px) {
		.sidewidgetsWrapper{
			margin-bottom:30px!important;
		}
		.bottomformWrapper ul li input[type="text"]{
			width:100%;
			margin-left:0px;
		}
		.bottomformWrapper .gform_body,.bottomformWrapper .gform_footer{
			width:100%;
		}
		.footerlogo{
			text-align:center;
		}
		.copyText{
			display:block;
			text-align:center;
		
		}
		.menu-footer-menu-container ul{
			width:100%;
			text-align:center;
		}
		.menu-footer-menu-container ul li:first-child{
			margin-left:0px;
		}
		.mascotWrapper{display:none;}
		#gform_submit_button_1{width:100%;}
		.container .four.columns.withIcons{
			margin-bottom:20px;
		}
		.bannerHeadings h4,.bannerHeadings h1,.bannerHeadings h2,.bannerHeadings p{text-align:center;}
		.mobilemenu{display:block!important;}
		.main-nav{display:none!important;}
		.logoWrapper {text-align:center;}
	}

	/* Mobile Landscape Size to Tablet Portrait (devices and browsers) */
	@media only screen and (min-width: 480px) and (max-width: 767px) {
		.container .nine.columns.blogitemHeading{
			width:320px;
		}
		.container .four.columns.withIcons{
			width:210px;
			margin-bottom:20px;
		}
	}

	/* Mobile Portrait Size to Mobile Landscape Size (devices and browsers) */
	@media only screen and (max-width: 479px) {
		.bannerHeadings h1{
			font-size: 68px;
			line-height: 60px;
		}
		.bannerHeadings h2{
			font-size:30px;
		}
	}


/* #Font-Face
================================================== */
/* 	This is the proper syntax for an @font-face file
		Just create a "fonts" folder at the root,
		copy your FontName into code below and remove
		comment brackets */
@font-face {
    font-family: 'robotobold';
    src: url('../fonts/roboto-bold-webfont.eot');
    src: url('../fonts/roboto-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/roboto-bold-webfont.woff2') format('woff2'),
         url('../fonts/roboto-bold-webfont.woff') format('woff'),
         url('../fonts/roboto-bold-webfont.ttf') format('truetype'),
         url('../fonts/roboto-bold-webfont.svg#robotobold') format('svg');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'robotobold_italic';
    src: url('../fonts/roboto-bolditalic-webfont.eot');
    src: url('../fonts/roboto-bolditalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/roboto-bolditalic-webfont.woff2') format('woff2'),
         url('../fonts/roboto-bolditalic-webfont.woff') format('woff'),
         url('../fonts/roboto-bolditalic-webfont.ttf') format('truetype'),
         url('../fonts/roboto-bolditalic-webfont.svg#robotobold_italic') format('svg');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'robotoitalic';
    src: url('../fonts/roboto-italic-webfont.eot');
    src: url('../fonts/roboto-italic-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/roboto-italic-webfont.woff2') format('woff2'),
         url('../fonts/roboto-italic-webfont.woff') format('woff'),
         url('../fonts/roboto-italic-webfont.ttf') format('truetype'),
         url('../fonts/roboto-italic-webfont.svg#robotoitalic') format('svg');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'robotoregular';
    src: url('../fonts/roboto-regular-webfont.eot');
    src: url('../fonts/roboto-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/roboto-regular-webfont.woff2') format('woff2'),
         url('../fonts/roboto-regular-webfont.woff') format('woff'),
         url('../fonts/roboto-regular-webfont.ttf') format('truetype'),
         url('../fonts/roboto-regular-webfont.svg#robotoregular') format('svg');
    font-weight: normal;
    font-style: normal;

}
		
		
@font-face {
    font-family: 'open_sansbold';
    src: url('../fonts/opensans-bold-webfont.eot');
    src: url('../fonts/opensans-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/opensans-bold-webfont.woff') format('woff'),
         url('../fonts/opensans-bold-webfont.ttf') format('truetype'),
         url('../fonts/opensans-bold-webfont.svg#open_sansbold') format('svg');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'open_sanslight';
    src: url('../fonts/opensans-light-webfont.eot');
    src: url('../fonts/opensans-light-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/opensans-light-webfont.woff') format('woff'),
         url('../fonts/opensans-light-webfont.ttf') format('truetype'),
         url('../fonts/opensans-light-webfont.svg#open_sanslight') format('svg');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'open_sansregular';
    src: url('../fonts/opensans-regular-webfont.eot');
    src: url('../fonts/opensans-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/opensans-regular-webfont.woff') format('woff'),
         url('../fonts/opensans-regular-webfont.ttf') format('truetype'),
         url('../fonts/opensans-regular-webfont.svg#open_sansregular') format('svg');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'bebas_neueregular';
    src: url('../fonts/bebasneue-webfont.eot');
    src: url('../fonts/bebasneue-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/bebasneue-webfont.woff') format('woff'),
         url('../fonts/bebasneue-webfont.ttf') format('truetype'),
         url('../fonts/bebasneue-webfont.svg#bebas_neueregular') format('svg');
    font-weight: normal;
    font-style: normal;

}
